

<h3><a href="/songs/<%= @song.slug %>"><%=@song.name%></a></h3>
  
<h4><a href="/artists/<%= @song.artist.slug %>"><%=@song.artist.name%></a></h4>

<ul>
<% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
    <% end %>
</ul>



<li>Successfully created song.</li>

<li>Successfully updated song.</li>